In [2]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
print(os.listdir())

['.conda', 'colors.csv', 'demo.py', 'downloads_schema.png', 'inventories.csv', 'inventory_parts.csv', 'inventory_sets.csv', 'learning-.ipynb', 'main.py', 'morelearning.ipynb', 'parts.csv', 'part_categories.csv', 'sets.csv', 'themes.csv']

In [19]:
colors = pd.read_csv("colors.csv")
inventories = pd.read_csv("inventories.csv")
inventory_parts = pd.read_csv("inventory_parts.csv")
inventory_sets = pd.read_csv("inventory_sets.csv")
part_categories = pd.read_csv("part_categories.csv")
parts = pd.read_csv("parts.csv")
sets = pd.read_csv("sets.csv")
themes = pd.read_csv("themes.csv")

In [77]:
def investigate(db):
    """explores the data"""

    db.name = "d"
    print(f"Exploring the data in the dataframe")
    print(db.index)
    print("")
    print("COLUMN NAMES")
    print(db.columns)
    print()
    print(db.info())
    print()
    print("DATA TYPES")
    print(db.dtypes)
    print()
    print("NUMBER OF UNIQUE VALUES IN EACH COLUMN")
    print(db.nunique())
    print()
    print(db.head())

In [78]:
investigate(colors)

Exploring the data in the dataframe
RangeIndex(start=0, stop=135, step=1)

COLUMN NAMES
Index(['id', 'name', 'rgb', 'is_trans'], dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        135 non-null    int64
 1   name      135 non-null    object
 2   rgb       135 non-null    object
 3   is_trans  135 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.3+ KB
None

DATA TYPES
id           int64
name        object
rgb         object
is_trans    object
dtype: object

NUMBER OF UNIQUE VALUES IN EACH COLUMN
id          135
name          1
rgb         124
is_trans      2
dtype: int64

   id name     rgb is_trans
0  -1    d  0033B2        f
1   0    d  05131D        f
2   1    d  0055BF        f
3   2    d  237841        f
4   3    d  008F9B        f

In [11]:
datainventories['version'].unique()

array([1, 2, 3, 4, 5], dtype=int64)

In [13]:
datainventories.nunique()

id         11681
version        5
set_num    11670
dtype: int64

# .count()
## Shows the total number of non-null values in each column.  It can be applied to a aingle column as well as a whole dataframe.

In [14]:
datainventories.count()

id         11681
version    11681
set_num    11681
dtype: int64

# .value_counts
## This will show all the unique values with their count. Single columns only.

In [15]:
datainventories['version'].value_counts()

version
1    11669
2        9
3        1
4        1
5        1
Name: count, dtype: int64

# .info()
## Gives basic information about the dataframe

In [16]:
datainventories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11681 entries, 0 to 11680
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       11681 non-null  int64
 1   version  11681 non-null  int64
 2   set_num  11681 non-null  object
dtypes: int64(2), object(1)
memory usage: 273.9+ KB