In [6]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [7]:
print(os.listdir())

['.conda', 'colors.csv', 'demo.py', 'downloads_schema.png', 'inventories.csv', 'inventory_parts.csv', 'inventory_sets.csv', 'LEGO_Datasets.ipynb', 'main.py', 'morelearning.ipynb', 'parts.csv', 'part_categories.csv', 'sets.csv', 'themes.csv']

In [8]:
colors = pd.read_csv("colors.csv")
inventories = pd.read_csv("inventories.csv")
inventory_parts = pd.read_csv("inventory_parts.csv")
inventory_sets = pd.read_csv("inventory_sets.csv")
part_categories = pd.read_csv("part_categories.csv")
parts = pd.read_csv("parts.csv")
sets = pd.read_csv("sets.csv")
themes = pd.read_csv("themes.csv")

In [15]:
def investigate(db):
    """explores the data"""

    db.name = "d"
    print(f"Exploring the data in the dataframe")
    print(db.index)
    print("")
    print("COLUMN NAMES")
    print(db.columns)
    print()
    nRow, nCol = db.shape
    print(f'There are {nRow} rows and {nCol} columns')
    print()
    print("DATA TYPES")
    print(db.dtypes)
    print()
    print("NUMBER OF UNIQUE VALUES IN EACH COLUMN")
    print(db.nunique())
    print()
    print(db.head())
    print()
    print(db.info())
    print()
    print("NUMBER OF NON-NULL VALUES IN EACH COLUMN")
    print(db.count())

# Ideas for this data set
* Group colors into 10 groups (124 colors out of 135 is too many)
* Track popular themes and colors by year
    ** datasets= colors, sets, themes
* Only 12 sets had more than version 1 released.  Where those the popular colors and themes?
    ** dataset = inventories

# Exploring each dataset

## colors df

In [10]:
investigate(colors)

Exploring the data in the dataframe
RangeIndex(start=0, stop=135, step=1)

COLUMN NAMES
Index(['id', 'name', 'rgb', 'is_trans'], dtype='object')

There are 4 rows and 135 columns

DATA TYPES
id           int64
name        object
rgb         object
is_trans    object
dtype: object

NUMBER OF UNIQUE VALUES IN EACH COLUMN
id          135
name          1
rgb         124
is_trans      2
dtype: int64

   id name     rgb is_trans
0  -1    d  0033B2        f
1   0    d  05131D        f
2   1    d  0055BF        f
3   2    d  237841        f
4   3    d  008F9B        f

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        135 non-null    int64
 1   name      135 non-null    object
 2   rgb       135 non-null    object
 3   is_trans  135 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.3+ KB
None

NUMBER OF NON-NULL VALUES IN EACH COLUMN
id          135
name        135
rgb         135
is_trans    135
dtype: int64

## What's with the color names?

In [11]:
colors['name'].unique()

array(['d'], dtype=object)

## rgb values

In [12]:
uniquecolors = colors['rgb'].nunique()
nRow, nCol = colors.shape

print(f"There are {uniquecolors} unique colors in the dataframe colors out of {nRow} total colors")
print()
print("COUNT OF ALL UNIQUE COLORS")
colors['rgb'].value_counts()

There are 124 unique colors in the dataframe colors out of 135 total colors

COUNT OF ALL UNIQUE COLORS

rgb
FFFFFF    3
000000    3
D9E4A7    2
635F52    2
A5A5CB    2
         ..
FCFCFC    1
F5CD2F    1
C1DFF0    1
F8F184    1
8E5597    1
Name: count, Length: 124, dtype: int64

## inventory_sets db

In [ ]:
investigate(inventory_sets)

In [16]:
investigate(inventories)

Exploring the data in the dataframe
RangeIndex(start=0, stop=11681, step=1)

COLUMN NAMES
Index(['id', 'version', 'set_num'], dtype='object')

There are 11681 rows and 3 columns

DATA TYPES
id          int64
version     int64
set_num    object
dtype: object

NUMBER OF UNIQUE VALUES IN EACH COLUMN
id         11681
version        5
set_num    11670
dtype: int64

   id  version set_num
0   1        1  7922-1
1   3        1  3931-1
2   4        1  6942-1
3  15        1  5158-1
4  16        1   903-1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11681 entries, 0 to 11680
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       11681 non-null  int64
 1   version  11681 non-null  int64
 2   set_num  11681 non-null  object
dtypes: int64(2), object(1)
memory usage: 273.9+ KB
None

NUMBER OF NON-NULL VALUES IN EACH COLUMN
id         11681
version    11681
set_num    11681
dtype: int64

# Very few sets had more than one version released

In [18]:
print("COUNT OF DIFFERENT VERSIONS")
inventories['version'].value_counts()

COUNT OF DIFFERENT VERSIONS

version
1    11669
2        9
3        1
4        1
5        1
Name: count, dtype: int64

In [19]:
investigate(themes)

Exploring the data in the dataframe
RangeIndex(start=0, stop=614, step=1)

COLUMN NAMES
Index(['id', 'name', 'parent_id'], dtype='object')

There are 614 rows and 3 columns

DATA TYPES
id             int64
name          object
parent_id    float64
dtype: object

NUMBER OF UNIQUE VALUES IN EACH COLUMN
id           614
name           1
parent_id     78
dtype: int64

   id name  parent_id
0   1    d        NaN
1   2    d        1.0
2   3    d        1.0
3   4    d        1.0
4   5    d        1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         614 non-null    int64
 1   name       614 non-null    object
 2   parent_id  503 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.5+ KB
None

NUMBER OF NON-NULL VALUES IN EACH COLUMN
id           614
name         614
parent_id    503
dtype: int64

# 78 total themes

In [23]:
nthemegroups = themes.parent_id.nunique()
print(f"There are {nthemegroups} total themes.")

There are 78 total themes.

In [ ]:
investigate(sets)